body{
    background-image:url("beach.jpg");
    background-size: cover;
    margin: 0px;
    padding:0px;
    background-position: center; 
}

* {
  box-sizing: border-box;
}

.gambar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center; 
    background: url("ghea.jpeg");
    background-size: cover; 
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top:20px;
    margin-bottom:30px;
    box-shadow: 0 0 50px rgb(224, 113, 8);
  }

  .zoom{
    margin: 30px;
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  
  .subjudul{
    font-family:"platino linotype";
    font-size: 30px;
  }

  .row {
    /* outline: thick ridge rgb(14, 13, 13); */
    border-radius: 50px;
  }

  .row-1{
    border-radius: 50px;
    outline: transparent;
  }  
  
  .border-right{
    border-right: 1px solid;
  }

  .border-right-1{
    border-right: 2px solid;
  }

  .container{
    background-color: rgb(223, 176, 106);
    opacity: 0.9;
    border-radius: 50px;
  }

  .container-2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    
  }

  /*untuk layar device berukuran kecil*/
  @media screen and (min-width: 360px){
      html{
      font-size: 15px;
      }
      .inline{
        display: inline-block;
      }
      .border-right-1 {
        border-right: 1px solid;
      }
      .border-right{
        border-right:none;
      } 
      .list{
        font-size: 10px;
      }
      .subjudul-list{
        font-size: 15px;
      }
      .garis-bawah{
        border-right: 1px solid;
        text-align: center;
      }
      /* .garis{
        border: none;
      } */
      .container-2{
        padding: 20px;
        width: 95%;
      } 
    
    }
  
    @media  screen and (min-width: 403px) {
      html{
        font-size: 18px;
      } 
      /* .border-right{
        border-right: 1px solid;
      }  */
      .subjudul-list{
        font-size: 15px;
        /* font-family: "platino linotype"; */
      }
      .list{
        font-size: 10px;
      }
      .border-right-1{
        border-right: 2px solid;
      } 
      .garis-bawah{
        /* border-bottom: 1px solid;
        margin-bottom: 30px;
        margin-top: 25px;
        border-right: none; */
        border-right: 1px solid;
        text-align: center;
      }
      .container-2{
        padding: 20px;
        width: 95%;
      }
      }

  /* untuk device untuk ukuran sedang */
  @media  screen and (min-width: 552px) {
  html{
    font-size: 15px;
  } 
  .border-right{
    border-right: 1px solid;
  }
  .subjudul-list{
    font-size: 30px;
    font-family: "platino linotype";
  }
  .list{
    font-size: 15px;
  }
  .border-right-1{
    border-right: 2px solid;
  } 
  .garis-bawah{
    border-bottom: 1px solid;
    margin-bottom: 30px;
    margin-top: 25px;
    border-right: none;
  }
  .container-2{
    padding: 20px;
    width: 80%;
  }
  }

  /* untuk layar device berukuran besar */
  @media screen and (min-width: 876px) {
  html{
    font-size: 25px;
  } 
  .subjudul-list{
    font-size: 30px;
    font-family: "platino linotype";
    }
  .list{
    font-size: 25px;
  }
  .border-right{
    border-right: 1px solid;
  }
  .border-right-1{
    border-right: 2px solid;
  }
  .garis-bawah{
    border-bottom: 1px solid;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  /* .border-bottom{
    border-bottom: 8px solid;
  } */
  /* .garis{
    border: 1px solid;
  } */
  }

  @media  screen and (min-width:1200px){
    .garis-bawah{
      border-bottom: 1px solid;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
    
  

  .table{
    border-color: black;
    background-color: antiquewhite;
  }

  ul{
    text-align: start;
    display: inline-block;

  }

  a:link {
    color: rgb(0, 81, 128);
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: rgb(122, 43, 19);
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: rgb(12, 15, 19);
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
  }
  tr:hover{
    background-color: rgb(231, 184, 112);
  }
  