body{
    background-image:url("beach.jpg");
    background-size: cover;
    margin: 0;
    padding:0;
    /* background-attachment: fixed;   */
    /* min-height: 2000px;  */
    background-position: center; 
}

* {
  box-sizing: border-box;
}

.gambar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
     background-position: center; 
       background: url("ghea.jpeg");
    background-size: cover; 
    /* background-repeat: no-repeat;   */
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top:20px;
    margin-bottom:30px;
  
  }
  
  .subjudul{
    font-family:"platino linotype";
    font-size: 30px;
  }

  .row {
    /* padding-top: 35px;  */
     /* border-style:double;*/
     outline: thick ridge rgb(14, 13, 13);
     border-radius: 50px;
  }

  
  .border-right{
    border-right: 1px solid;
  }
  
  .border-bottom{
    border-bottom: 8px solid;
  }

  /* .subjudul-list{
    font-size: 30px;
  } */

  .container{
    background-color: rgb(223, 176, 106);
    opacity: 0.9;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 5%;
     /* display: flex; 
     flex-wrap: wrap;  */
   
  }

  /*untuk layar device berukuran kecil*/
  @media screen and (min-width: 200px){
   html{
    font-size: 15px;
  }
  .container{
    width: 80%;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .border-right {
    border-right: 0px;
  }
  .list{
    font-size: 10px;
  }
  .subjudul-list{
    font-size: 13px;
  }
  } 

  /* untuk device untuk ukuran sedang */
  @media  screen and (min-width: 552px) {
  html{
    font-size: 20px;
  } 
  .container{
    width:55%
  }
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .border-right{
    border-right: 0px;
  }
  }

  /* untuk layar device berukuran besar */
  @media screen and (min-width: 1200px) {
  html{
    font-size: 25px;
  } 
  .container{
    width:100%;
  } 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .subjudul-list{
      font-size: 30px;
      font-family: "platino linotype";
    }
  .list{
    font-size: 25px;
  }
  }

  .table{
    border-color: black;
    background-color: antiquewhite;
  }

  ul{
    text-align: start;
    display: inline-block;

  }

  a:link {
    color: rgb(0, 81, 128);
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: rgb(122, 43, 19);
    background-color: transparent;
    text-decoration: none;
  }

 [class*="col-"] {
  float: left;
  padding: 15px;
 }


  a:hover {
    color: rgb(12, 15, 19);
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
  }
  tr:hover{
    background-color: rgb(231, 184, 112);
  }
  
  div{
    padding: 10px;
  }
  
