body{
    background-image:url("pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.gambar{
    border-radius: 50%;
    width: 250px;
    height: 250px;
     background-position: center; 
       background: url("ghea.jpeg");
    background-size: cover; 
    /* background-repeat: no-repeat;   */
    padding-top: 25px;
    padding-bottom: 30px;
  
  }
  
  .subjudul{
    font-family:"platino linotype";
  }

  .row {
    /* padding-top: 35px;  */
    border-style: double;
  }
  
  .border-right{
    border-right: 1px solid;
  }
  
  .border-bottom{
    border-bottom: 8px solid;
  }

  .container{
    background-color: rgb(142, 156, 175);
    opacity: 0.9;
  }

  .table{
    border-color: black;
    background-color: antiquewhite;
  }

  ul{
    text-align: start;
    display: inline-block;

  }

  a:link {
    color: rgb(0, 81, 128);
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: rgb(12, 15, 19);
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
  }
  

  